In [111]:
print("Hello")

Hello

In [113]:
print('Hello')

Hello

# Quotes inside quotes

In [10]:
print("It's alright")
print("he is called 'johny'")
print('he is called "Johny"')

It's alright
he is called 'johny'
he is called "Johny"

# multiline strings

In [15]:
a = """ankul bhot bada chutiya hai, 
wo bhot bada kameena h,
ed to jakjdj kkajkj jjshddb jjjs """
print(a)

ankul bhot bada chutiya hai,
wo bhot bada kameena h,
ed to jakjdj kkajkj jjshddb jjjs

# Q . Get the character at position 1 (remember the first character has the position 0).

In [20]:
a = "Hello , World"
print(a[1])

e

# Looping through a string

# Loop through the letters in the word "banana":

In [24]:
for x in "banana":
    print(x)

b
a
n
a
n
a

# String length

In [27]:
a = "Hello,World!"
print(len(a))

12

# check string

In [32]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [34]:
txt = "the best thing in life are free!"
if "free" in txt:
    print("yes,'free' is present.")

yes,'free' is present.

# check if not

# check "expensive" is NOT present in the following text:

In [37]:
txt = "the best things in life are free!"
print("expensive" not in txt)

True

In [41]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("NO,'expensive' is not found")

NO,'expensive' is not found

# Python slicing - strings

* Get the characters from position 2 to position 5(not included):

In [62]:
a = "Hello , World"
print(a[2:5])

llo

# Slice from the start

* Get the characters from the start to position 5(not included):

In [66]:
b = "Hello , World"
print(b[:5])

Hello

# Slice to the end:

* Get the characters from position 2 , and all the way to the end :|

In [70]:
b = "Hello,World"
print(b[2:])

llo,World

# Negative indexing

* Get the characters:
From : "o" in "World!"(position-5)
To , but not included : "d" in "World!"(position-2):

In [37]:
b = "Hello , World!"
print(b[-5:-2])

orl

# Python - Modify Strings

* Upper case :

* exp: The upper() method returns the string in upper case :

In [98]:
a = "Hello , World!"
print(a.upper())

HELLO , WORLD!

* Lower case:

* exp: The lower() method returns the string in lower case :

In [101]:
a = "Hello , World!"
print(a.lower())

hello , world!

* Remove Whitespace:

* whitespace is the space before and/or after the actual text , and very often you want to remove this space.
example : 
             the strip() method removes any whitespace from the begining or the end:

a = "  Hello,World!"
print(a.strip())

* Replace String :

ex : The replace() method replaces a string with another string.

In [17]:
a = "Hello,World!"
print(a.replace("H" , "J"))

Jello,World!

* Split String :

* the split() method  returns a list where the text between the specified seperator becomes the list items.
example : 
          The split() method splits the string into substring if it finds instances the seperator:

In [20]:
a = "Hello World!"
print(a.split(","))

['Hello World!']

* Python-String Concatenatior

* String Concatenation : the concatenate , or combine , two strings you can use the + operator.
example :
         merge variable a with variable b into variable c :

In [26]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

example : To add a space between them , add a " ":

In [28]:
a = "Hello"
b = "World"
c = a + " " + b 
print(c)

Hello World

* Python-Format Strings :

* String Format :
                  as we learned in the python variables chapter we cannot combine string and numbers like this :
  example :

In [41]:
age = 36
txt = "my name is John , I am " + age 
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using f-strings or the format() method !

* F-strings :

F-string was introduced in Python 3.6 , and is now the preffered way of formatting strings .
To specify a string as an f-string , simply put an f in front of the string literal , and add curly brackets {} as placeholders for variables and after operations .

example : Create an f-string

In [47]:
age = 36
txt = f"my name is John , I am {age}"
print(txt)

my name is John , I am 36

* Placeholders and Modifiers : A placeholder can contain variables , operations , functions , and modifiers to format the value.
* Example:
        Add a placeholder for the price variable :

In [51]:
price = 59
txt = f"the price is {price} dollars" 
print(txt)

the price is 59 dollars