In [1]:
x = 5
y = "john"
print(x)
print(y)

5
john

In [3]:
x = 4
x = "Sally"
print(x)

Sally

# Casting

In [14]:
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

# Get the type

In [17]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# Case sensitive

In [22]:
a = 4
A = "Sally"
print(a)
print(A)

4
Sally

# multiwords Variable names
* camel case - each words , expect the first , starts with a capital letter:
* Pascal case - Each word starts with a capital letter:
* Snake case - Each word is separated by an underscore

In [36]:
myVariableName = "John"

In [38]:
MyVariableName = "John"

In [40]:
my_variable_name = "John"

# python variable - assign multiple variables

In [55]:
x , y , z = "Orange" , "Banana" , "cherry"
print(x)
print(y)
print(z)

Orange
Banana
cherry

# one value to multiple variables

In [58]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Unplack a collection

In [61]:
fruits = ["apple","banana","cherry"]
x , y , z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Python Output Variables

In [64]:
x = "python is awesome"
print(x)

python is awesome

In [66]:
x = "python"
y = "is"
z = "awesome"
print(x,y,z)

python is awesome

In [72]:
x = "python"
y = "is"
z = "awesome"
print(x+y+z)

pythonisawesome

In [74]:
x = "python "
y = "is "
z = "awesome "
print(x+y+z)

python is awesome

In [76]:
x = 5
y = 10
print(x+y)

15

In [78]:
x = 5
y = "john"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [90]:
x = str(5)
y = "john"
print(x+y)

5john

In [92]:
x = 5
y = "john"
print(x,y)

5 john

# Random number

In [109]:
import random
print(random.randrange(1,10))

8