* Multi Words Variable Names

camel case:
Each word starts with a capital letter expect first

In [5]:
myVariableName = "John"

pascal case:
Each word starts with a capital letter:

In [7]:
MyVariableName = "John"

Snake case:
Each word is separated by an underscore character

In [11]:
my_variable_name = "John"

* Many Values to Multiple variables

In [18]:
x , y , z = "orange" , "Banana" , "Cherrry"
print(x)
print(y)
print(z)

orange
Banana
Cherrry

* One Value to Multiple variables

In [24]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

* Unplack a collection

In [27]:
fruits = ["apple" , "banana" , "cherry"]
x , y  , z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

* Python Output Variables

In [30]:
x = "python is awesome"
print(x)

python is awesome

In [32]:
x = "Python"
y = "is"
z = "awesome"
print(x , y , z)

Python is awesome

In [36]:
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Pythonisawesome

In [38]:
x = 5
y = 20
print(x+y)

25

In [44]:
x = 5
y = "John"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
x = 5
y = "John"
print(x,y)

5 John

In [ ]:
* Python Data Types 
Text Type:      str
Numeric Types:  int , float , complex
Sequence Types: list , tuple , range
Mapping Type :  dict
Set Types :     set , frozenset
Boolean Types : bool
Binary Types :  bytes , bytearray , memoryview
None Types : None Type

* Getting the data type

In [49]:
x = 5
print(type(x))

<class 'int'>

* Random number

In [67]:
import random
print(random.randrange(1 , 100))

95

* Strings :

In [70]:
print("Hello")
print('Hello')

Hello
Hello

* Multiple Line strings:

In [79]:
a = """my name is nikhil sharma,
i am brilliant boy nd i am ,
pursuing data science course , 
i love it so much."""
print(a)

my name is nikhil sharma,
i am brilliant boy nd i am ,
pursuing data science course ,
i love it so much.

In [81]:
a = "Hello , World!"
print(a[1])

e

* Looping through a string

In [84]:
for x in "banana":
    print(x)

b
a
n
a
n
a

* String length

In [89]:
a = "Hello,World!"
print(len(a))

12

* Check string

In [92]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [109]:
txt = "The best things in life are free!"
if "free" in txt:
    print("yes ,'free' is present")

yes ,'free' is present

* Check if not

In [113]:
txt = "the best things in life are free!"
print("expensive" not in txt)

True

In [115]:
txt = "the best things in life are free!"
if "expensive" not in txt:
    print("no 'expensive' not in txt")

no 'expensive' not in txt

* Python Slicing strings

In [124]:
a = "Hello World"
print(a[5:9])

 Wor

* Slice from the Start

In [127]:
b = "Hello World"
print(b[:5])

Hello

* Slice to the end

In [134]:
b = "Hello , World!"
print(b[0:])

Hello , World!

* Negative indexing

In [144]:
b = "Hello World!"
print(b[-5:-2])

orl

In [152]:
b = "HelloWorld"
print(b[-10:-5])

Hello

* Python Modify Strings

In [155]:
# Upper case
a = "Hello,World!"
print(a.upper())

HELLO,WORLD!

In [157]:
# Lower case
a = "Hello,World!"
print(a.lower())

hello,world!

* Remove Whitespace

In [172]:
a = "   Hello,World!"
print(a.strip())

Hello,World!

* Replace String

In [175]:
a = "Hello,World!"
print(a.replace("W" , "L"))

Hello,Lorld!

* Split String

In [180]:
a = "Hello,World!"
print(a.split(","))

['Hello', 'World!']

In [182]:
a = input("enter the numbers = ")
print(a.split(","))

enter the numbers =  23,34,54,65

['23', '34', '54', '65']

* Python String concatenatior

In [189]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [193]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

* Python Format Strings

In [200]:
age = 36
txt = "my name is john , I am " + age

TypeError: can only concatenate str (not "int") to str

* F-strings

In [204]:
age = 36
txt = f"my name is john , i am {age}"
print(txt)

my name is john , i am 36

* Placeholders and Modifiers

In [207]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

Display the price with 2 decimals :

In [211]:
price = 59
txt = f"The price is {price: .3f} dollars"
print(txt)

The price is  59.000 dollars

Perform a math operation in the placeholders and return the result:

In [213]:
price = 59
txt = f"the price is {price * 23} dollars"
print(txt)

the price is 1357 dollars

* Python-Escape characters

In [220]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (4013392309.py, line 1)

to fix this problem , use the escape character \":

In [228]:
txt = "We are the so called \"Vikings\"  from the north"
print(txt)

We are the so called "Vikings"  from the north

In [ ]:
* Escape Characters:
(Code)          (Result)
\'            single Quote
\\            Backslash
\n            New Line
\r            Carriage Return
\t            Tab
\b            Backspace
\f            Form feed
\000         Octal Value
\xhh          Hex Value

In [232]:
txt = "It\'s alright."
print(txt)

It's alright.

In [238]:
txt = "my name is nikhil\\sharma"
print(txt)

my name is nikhil\sharma

In [244]:
txt = "Hello\nWorld"
print(txt)

Hello
World

In [246]:
txt = "Hello\rWorld"
print(txt)

World

In [264]:
txt = "chut\rAnkul"
print(txt)

Ankul

In [272]:
txt = "my name is \t nikhil sharma"
print(txt)

my name is 	 nikhil sharma

In [280]:
txt = "my name is \b nikhil sharma"
print(txt)

my name is nikhil sharma

In [302]:
txt = "my name is \f nikhil sharma"
print(txt)

my name is  nikhil sharma

In [308]:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [316]:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

* Python Booleans

In [319]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [321]:
a = 200
b = 33
if b > a:
    print("b is greater then a")
else:
    print("b is not greater then a")

b is not greater then a

* Evaluate values and variables

In [324]:
print(bool('hello'))
print(bool(15))

True
True

In [330]:
x = "Hello"
y = 15
print(bool(x))
print(bool(y))

True
True

In [340]:
bool("abc")
bool(123)
bool(["apple" , "cherry" , "banana"])

True

In [342]:
bool(False)
bool(None)
bool(0)
bool(" ")
bool(())
bool([])
bool({})

False

# Python Lists

In [2]:
mylist = ["apple" , "banana" , "Cherry"]
print(mylist)

['apple', 'banana', 'Cherry']

* Allow Duplicates

In [5]:
thislist = ["apple" , "banana" , "cherry" , "apple" , "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

* List Length

In [8]:
thislist = ["apple" , "banana" , "cherry"]
print(len(thislist))

3

* List Items - Data types

In [15]:
# list items can be of any data type
list1 = ["apple" , "banana" , "cherry"]
list2 = [1 , 5 ,7 , 9, 3]
list3 = [True , False , False]

In [17]:
# A list with string integer and boolean values
list1 = ["abc" , 34 , True , 40 , "male"]

* Type

In [20]:
mylist = ["apple" , "banana" , "cherry"]
print(type(mylist))

<class 'list'>

* The List constructor

In [23]:
thislist = list(("apple" , "banana" , "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

# Python Access List items

In [29]:
thislist = ["apple" , "banana" , "cherry"]
print(thislist[1])

banana

* Negative Indexing

In [32]:
thislist = ["apple" , "banana" , "cherry"]
print(thislist[-1])

cherry

* Range of Indexes

In [35]:
thislist = ["apple" , "banana" , "cherry" , "Orange" , "Kiwi" , "melon"]
print(thislist[2:5])

['cherry', 'Orange', 'Kiwi']

In [37]:
thislist = ["apple" , "banana" , "cherry" , "Orange" , "Kiwi" , "melon"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'Orange']

In [45]:
thislist = ["apple" , "banana" , "cherry" , "Orange" , "Kiwi" , "melon"]
print(thislist[2:])

['cherry', 'Orange', 'Kiwi', 'melon']

* Range of negative indexes

In [48]:
thislist = ["apple" , "banana" , "cherry" , "Orange" , "Kiwi" , "melon"]
print(thislist[-4:-1])

['cherry', 'Orange', 'Kiwi']

*  Check if item exists

In [55]:
thislist = ["apple" , "banana" , "cherry"]
if "apple" in thislist:
    print("yes , 'apple' is in the fruits list")

yes , 'apple' is in the fruits list

* Python Change List Items

In [58]:
thislist = ["apple" , "banana" , "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [60]:
thislist[2] = "lemon"
print(thislist)

['apple', 'blackcurrant', 'lemon']

* Change a Range of Item Values

In [63]:
thislist = ["apple" , "banana" , "cherry" , "Orange" , "Kiwi" , "melon"]
thislist[1:3]= ["blackcurrant" , "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'Orange', 'Kiwi', 'melon']

In [79]:
# change the second value by replacing it with two new values:
thislist = ["apple" , "banana" , "cherry"]
thislist[1:2] = ["onion" , "pumkin"]
print(thislist)

['apple', 'onion', 'pumkin', 'cherry']

In [67]:
# change the second and third value by replacing it with one value :
thislist = ["apple" , "banana" , "cherry"]
thislist[1:3] = ["papaya"]
print(thislist)

['apple', 'papaya']

In [77]:
# Insert wartermelon as the third item:
thislist = ["apple" , "banana" , "cherry"]
thislist.insert(2 , "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

* Extend list

In [81]:
thislist = ["apple" , "banana" , "cherry"]
thistuple = ("kiwi" , "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

* Python Loop lists

In [85]:
thislist = ["apple" , "banana" , "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

* Loop through the index numbers

In [97]:
# print all items by referring to their index numbers :
thislist = ["apple" , "banana" , "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

* Using a While Loop

In [99]:
# print all items , using a while loop to go through the index numbers:
thislist = ["apple" , "banana" , "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i+1

apple
banana
cherry

* Looping through list comprehension

In [1]:
thislist = ["apple" , "banana" , "cherry"]
newlist = [print (x) for x in thislist]
print(newlist)

apple
banana
cherry
[None, None, None]

* Python sort lists

In [8]:
# Sort the list alphabetically:
thislist = ["ornage" , "mango" , "kiwi" , "pineapple" , "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'ornage', 'pineapple']

In [10]:
# Sort the list numerically:
thislist = [100,50,65,82,23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

* Sort Descending

To sort descending , use the keyword argument
reverse = True

In [15]:
# Sort the list Descending
thislist = ["ornage" , "mango" , "Kiwi", "pineapple" , "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'ornage', 'mango', 'banana', 'Kiwi']

In [17]:
# Sort the list Descending
thislist = [100,50,65,82,23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [14]:
import random
print(random.randrange(0,100))

31

# Python Dictionaries

In [18]:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

In [20]:
# Dictionaries are used to store data values in key:vlaue pairs.
# A dictionary is a collection which is ordered , changeable and do not allow duplicate.

In [28]:
# Create nd print a dictionary
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}
print(thisdict["brand"])

Ford

* Duplicates Not Allowed

In [37]:
# Duplicate values will overwrite exisiting values:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964,
    "year" : 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [39]:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964,
    "year" : 2020
}
print(len(thisdict))

3

* Accessing items

In [46]:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}
x = thisdict["model"]
print(x)

Mustang

In [48]:
# Get the value of the model key:
x = thisdict.get("model")

In [50]:
print(x)

Mustang

* Get Keys

In [57]:
# Get a list of the keys:
x =  thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [61]:
# Add a new item to the original dictionary , and see that the keys list gets updated as well:
car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

x = car.keys()
print(x)

car["color"] = "white"
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [63]:
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [65]:
# make a change in the original dictionary and see what the keys list gets updated as well:
car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

x = car.values()
print(x)

car["year"] = "2020"
print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', '2020'])

In [67]:
car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

x = car.values()
print(x)

car["color"] = "red"
print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

# Functions

In [70]:
# A function is a block of code which only runs when it is called.
# You can pass data . known as parameters , into a funciton
# A function can return data as a result

* Creating a function

In [79]:
def my_function():
    print("Hello from a function")

* calling a function

In [82]:
def my_function():
    print("Hello from a function")
my_function()

Hello from a function

* Arguments

In [87]:
def my_function(fname):
    print(fname + " Refsnes")
my_function("Email")
my_function("Tobias")
my_function("Linus")

Email Refsnes
Tobias Refsnes
Linus Refsnes

In [97]:
def my_function(name):
    print(name + " sharma")
my_function("nikhil")
my_function("sahil")
my_function("vyom")

nikhil sharma
sahil sharma
vyom sharma

* Parameters or Arguments ?
* A Parameter is the variable listed inside the parentheses in the funciton definition.
* An argument is the value that is sent to the function when it is called.

# File Handling

Operations same:
* Open a file
* read or write operation
* close a file

In [103]:
# opening a file

In [105]:
f = open("sales12.txt")

In [107]:
f

In [113]:
f.closed

False

In [115]:
f.close()

In [117]:
f.closed

True

modes of file :
* r - read
* w - writing
* a - append

In [121]:
f = open("account12" , mode = "w")

In [123]:
f

In [125]:
f.closed

False

In [127]:
f.close()

In [129]:
f.closed

True

In [131]:
f = open("accounts12")

In [133]:
f

In [135]:
# context manager : it generally deallocate the resources
# freeup

In [138]:
with open("sales12.txt") as f:
    print("Inside" , f.closed)
print("Outside" , f.closed)

Inside False
Outside True

In [141]:
# writing to a file
# write : it generally returns the number of words/characters

In [143]:
with open("profile12.txt" , mode = "w") as f:
    r1 = f.write("this file has been generated by python .\n")
    r2 = f.write("I am learning file handling")
    print(r1 , r2)

41 27

In [145]:
with open("profile12.txt" , mode = "a") as f:
    h = f.write("\n we are appending some text thank you. \n")
    k = f.write("i love python")
    print(h,k)

41 13

In [147]:
with open("profile12.txt") as f:
    print(f.read())

this file has been generated by python .
I am learning file handling
 we are appending some text thank you.
i love python

In [149]:
with open("iris27.csv") as f:
    print(f.read())

sepal_length,sepal_width,petal_length,petal_width,species
5.1,3.5,1.4,0.2,setosa
4.9,3,1.4,0.2,setosa
4.7,3.2,1.3,0.2,setosa
4.6,3.1,1.5,0.2,setosa
5,3.6,1.4,0.2,setosa
5.4,3.9,1.7,0.4,setosa
4.6,3.4,1.4,0.3,setosa
5,3.4,1.5,0.2,setosa
4.4,2.9,1.4,0.2,setosa
4.9,3.1,1.5,0.1,setosa
5.4,3.7,1.5,0.2,setosa
4.8,3.4,1.6,0.2,setosa
4.8,3,1.4,0.1,setosa
4.3,3,1.1,0.1,setosa
5.8,4,1.2,0.2,setosa
5.7,4.4,1.5,0.4,setosa
5.4,3.9,1.3,0.4,setosa
5.1,3.5,1.4,0.3,setosa
5.7,3.8,1.7,0.3,setosa
5.1,3.8,1.5,0.3,setosa
5.4,3.4,1.7,0.2,setosa
5.1,3.7,1.5,0.4,setosa
4.6,3.6,1,0.2,setosa
5.1,3.3,1.7,0.5,setosa
4.8,3.4,1.9,0.2,setosa
5,3,1.6,0.2,setosa
5,3.4,1.6,0.4,setosa
5.2,3.5,1.5,0.2,setosa
5.2,3.4,1.4,0.2,setosa
4.7,3.2,1.6,0.2,setosa
4.8,3.1,1.6,0.2,setosa
5.4,3.4,1.5,0.4,setosa
5.2,4.1,1.5,0.1,setosa
5.5,4.2,1.4,0.2,setosa
4.9,3.1,1.5,0.1,setosa
5,3.2,1.2,0.2,setosa
5.5,3.5,1.3,0.2,setosa
4.9,3.1,1.5,0.1,setosa
4.4,3,1.3,0.2,setosa
5.1,3.4,1.5,0.2,setosa
5,3.5,1.3,0.3,setosa
4.5,2.3,1.3,0.3,setosa
4.4,3.2,1.3,0.2,setosa
5,3.5,1.6,0.6,setosa
5.1,3.8,1.9,0.4,setosa
4.8,3,1.4,0.3,setosa
5.1,3.8,1.6,0.2,setosa
4.6,3.2,1.4,0.2,setosa
5.3,3.7,1.5,0.2,setosa
5,3.3,1.4,0.2,setosa
7,3.2,4.7,1.4,versicolor
6.4,3.2,4.5,1.5,versicolor
6.9,3.1,4.9,1.5,versicolor
5.5,2.3,4,1.3,versicolor
6.5,2.8,4.6,1.5,versicolor
5.7,2.8,4.5,1.3,versicolor
6.3,3.3,4.7,1.6,versicolor
4.9,2.4,3.3,1,versicolor
6.6,2.9,4.6,1.3,versicolor
5.2,2.7,3.9,1.4,versicolor
5,2,3.5,1,versicolor
5.9,3,4.2,1.5,versicolor
6,2.2,4,1,versicolor
6.1,2.9,4.7,1.4,versicolor
5.6,2.9,3.6,1.3,versicolor
6.7,3.1,4.4,1.4,versicolor
5.6,3,4.5,1.5,versicolor
5.8,2.7,4.1,1,versicolor
6.2,2.2,4.5,1.5,versicolor
5.6,2.5,3.9,1.1,versicolor
5.9,3.2,4.8,1.8,versicolor
6.1,2.8,4,1.3,versicolor
6.3,2.5,4.9,1.5,versicolor
6.1,2.8,4.7,1.2,versicolor
6.4,2.9,4.3,1.3,versicolor
6.6,3,4.4,1.4,versicolor
6.8,2.8,4.8,1.4,versicolor
6.7,3,5,1.7,versicolor
6,2.9,4.5,1.5,versicolor
5.7,2.6,3.5,1,versicolor
5.5,2.4,3.8,1.1,versicolor
5.5,2.4,3.7,1,versicolor
5.8,2.7,3.9,1.2,versicolor
6,2.7,5.1,1.6,versicolor
5.4,3,4.5,1.5,versicolor
6,3.4,4.5,1.6,versicolor
6.7,3.1,4.7,1.5,versicolor
6.3,2.3,4.4,1.3,versicolor
5.6,3,4.1,1.3,versicolor
5.5,2.5,4,1.3,versicolor
5.5,2.6,4.4,1.2,versicolor
6.1,3,4.6,1.4,versicolor
5.8,2.6,4,1.2,versicolor
5,2.3,3.3,1,versicolor
5.6,2.7,4.2,1.3,versicolor
5.7,3,4.2,1.2,versicolor
5.7,2.9,4.2,1.3,versicolor
6.2,2.9,4.3,1.3,versicolor
5.1,2.5,3,1.1,versicolor
5.7,2.8,4.1,1.3,versicolor
6.3,3.3,6,2.5,virginica
5.8,2.7,5.1,1.9,virginica
7.1,3,5.9,2.1,virginica
6.3,2.9,5.6,1.8,virginica
6.5,3,5.8,2.2,virginica
7.6,3,6.6,2.1,virginica
4.9,2.5,4.5,1.7,virginica
7.3,2.9,6.3,1.8,virginica
6.7,2.5,5.8,1.8,virginica
7.2,3.6,6.1,2.5,virginica
6.5,3.2,5.1,2,virginica
6.4,2.7,5.3,1.9,virginica
6.8,3,5.5,2.1,virginica
5.7,2.5,5,2,virginica
5.8,2.8,5.1,2.4,virginica
6.4,3.2,5.3,2.3,virginica
6.5,3,5.5,1.8,virginica
7.7,3.8,6.7,2.2,virginica
7.7,2.6,6.9,2.3,virginica
6,2.2,5,1.5,virginica
6.9,3.2,5.7,2.3,virginica
5.6,2.8,4.9,2,virginica
7.7,2.8,6.7,2,virginica
6.3,2.7,4.9,1.8,virginica
6.7,3.3,5.7,2.1,virginica
7.2,3.2,6,1.8,virginica
6.2,2.8,4.8,1.8,virginica
6.1,3,4.9,1.8,virginica
6.4,2.8,5.6,2.1,virginica
7.2,3,5.8,1.6,virginica
7.4,2.8,6.1,1.9,virginica
7.9,3.8,6.4,2,virginica
6.4,2.8,5.6,2.2,virginica
6.3,2.8,5.1,1.5,virginica
6.1,2.6,5.6,1.4,virginica
7.7,3,6.1,2.3,virginica
6.3,3.4,5.6,2.4,virginica
6.4,3.1,5.5,1.8,virginica
6,3,4.8,1.8,virginica
6.9,3.1,5.4,2.1,virginica
6.7,3.1,5.6,2.4,virginica
6.9,3.1,5.1,2.3,virginica
5.8,2.7,5.1,1.9,virginica
6.8,3.2,5.9,2.3,virginica
6.7,3.3,5.7,2.5,virginica
6.7,3,5.2,2.3,virginica
6.3,2.5,5,1.9,virginica
6.5,3,5.2,2,virginica
6.2,3.4,5.4,2.3,virginica
5.9,3,5.1,1.8,virginica

In [1]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 325F-1FC0

 Directory of C:\Users\NIKHIL SHARMA\Desktop

03-01-2025  16:28    <DIR>          .
03-01-2025  15:50    <DIR>          ..
03-01-2025  16:32    <DIR>          .ipynb_checkpoints
17-12-2024  13:16                72 abc17_12.txt
16-12-2024  19:33                 0 accounts12
03-01-2025  16:28    <DIR>          Basics.py
03-01-2025  16:21    <DIR>          Contacts
23-10-2024  11:58            17,261 customers-100.csv
17-12-2024  12:59            22,609 exceptional Handling 16_12.ipynb
17-12-2024  21:23            36,202 exceptional Handling 17_12.ipynb
17-12-2024  08:23            18,274 File handling 12_2024.ipynb
17-12-2024  08:34            12,206 homework.ipynb
17-12-2024  12:54             3,867 iris27.csv
17-12-2024  21:38             1,605 module_assignment.ipynb
25-12-2024  12:40            50,397 OOPs_19-24_12.ipynb
16-12-2024  21:58               325 paragraph12.txt
03-01-2025  14:10             3,126 practice test 03_01_25.ipynb
01-01-2025  16:05               125 profile12.txt
03-01-2025  16:21    <DIR>          python_rev
03-01-2025  12:23           100,672 Python_Test_02_01_2025.pdf
16-12-2024  19:23                 0 sales12.txt
01-01-2025  16:22            68,551 test prepration.ipynb
03-01-2025  11:52             7,819 Test.ipynb
31-12-2024  15:08            10,342 w3 resoource.ipynb
              18 File(s)        353,453 bytes
               6 Dir(s)  131,863,683,072 bytes free